@import url('https://fonts.googleapis.com/css?family=Open+montserrat');
body {
    overflow-x: hidden;
    font-family: 'PT Sans', sans-serif;
    color: #3d3d50;
}

#main {
    opacity: 0;
    transition: opacity 200ms;
  }

  #main.loaded {
    opacity: 1;
  }
/* css for section 1*/
.container-home {
    padding-top: 80px;
    padding-bottom: 100px;
    overflow: hidden;
}
#hilang{
display:block;
}
.bg-pertama{
    width: 100%;
    height:600px;
}
.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px!important;
}
.bg-home{ 
   
 margin-top: -600px;
}
.bg-home img{
        margin-top: 80px;
        padding-left: 15%;
        padding-right: 15%;
        height: 450px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
.spanBtn{
        margin-top: -250px;
        position: relative;
        padding-left: 7.5%;
    }
.spanbg {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 900;
    font-size: 36px;
    width: 100%;
    }
.s1{
        background-color: #30c1ec;
        color: #fff; 
    } 
.s2{
    background-color: #def042f5;
    color: #30c1ec;
    margin-left: 50px;
    }
.s3{
    background-color: #30c1ec;
    color: #def042f5;
    }
.kiri{
    overflow: hidden;
}
/* css for section 2*/
.container-kategori{
margin-top: 0px;
overflow: hidden;
position: relative;
}
#bg-abu {
    background-color:#aaa;
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow: hidden;
}
.img-model{
    height: 400px;
    margin-top: -300px;
    position: relative;
    margin-left:50%;
}

#merah {
    height:auto;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 50%;
    margin-top: 100px;
    background-color:#9c0f0f;
    padding:5%;
}
#merah p{
    color: white;
}
#merah h1{
    color: white; 
}
.menu-kategori{
    margin-top: -90px;
    padding-left: 6%;
}
.menu-kategori ul li{
 display: inline-block;
 font-size: 19px;
 font-weight: bold;
 position: relative;
 margin-right: 20px;
}
/* css for section 3*/
.container-pria {
    margin-top: 150px;
    padding-top: 80px;
    overflow: hidden;
}
.produk{
    margin-top: -220px;
    padding-left: 12%;
    position: relative;
}
.produk img{
    height: 150px;
    width: 150px;
}

.gambar-pria {
    margin-top: -230px;
    padding-left: 10%;
    padding-right: 15%;
  
}

.img-pria{
    width: 100%;
    background-image: url(assets/img/blue-container-pria.png);
    height: 600px;
    position: relative;
    overflow: hidden;
}
.img-pria-model{
    margin-top:-200px;
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}



.kelas-pria{
    padding-top: 100px;
}
.text-pria ,.ptext-bawah1 {
    font-family: montserrat;
    font-size: 150px;
    font-weight: 999;
    text-align: right;
    overflow: hidden;
    padding-top: 50px;
    margin-right: -13%
 
}
.text-pria2,.ptext-bawah2{
    font-family: montserrat;
    font-size: 150px;
    margin-bottom: -86px;
    font-weight: 999;
    margin-right: 5%;
    text-align: right;
 
   
}
.ptext-bawah1{
    margin-right: -12.5%;
    font-size: 100px;
    transform: translate(0% ,0px);
}
.ptext-bawah2{
    margin-right: 2.25%;
    font-size: 100px;
    margin-bottom: 0px;
}
.kelas-pria-luar{
    margin-top: -350px;
    margin-left: 20%;
    margin-right: 10%;
    overflow: hidden;

    
 }
.kelas-pria-dalam{
  margin-top: -440px;
  margin-left: 20%;
  margin-right: 10%;
  overflow: hidden;
}


.bg-img-pria{

    height:500px;
    width: 100%;
    position: relative
}
.v-2{
    margin-top: -58px;
}
.ml-auto{
    align-self: center;
}
.s4{
    background-color:#30c1ec ;
    color: #fff; 
    font-size: 24px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
    z-index: 1;

}
/*--------css for section 4---------------*/
.container-wanita {
    margin-top: 0px;
    padding-top: 300px;
    overflow: hidden;
}
.container-wanita-luar{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: -300px;
    height: 700px;
    overflow: hidden;

}
.bg-wanita{
    background: url(assets/img/wanita-img-bg.png);
    position: relative;
    height: 700px;
    text-align: right;
    padding-top: 112.5px;
}

.img-wanita-model{
    position: relative;
    height: 800px;
    margin-top:-300px;
 
}
.container-wanita-dalam {
    margin-top: -350px;
    height: 350px;
    margin-right: 20%;
    margin-left: 10%;
    overflow: hidden;
    box-shadow: 0px 4px 16px rgba(255, 245, 245, 0.979);
    z-index:1;
  
}
.bg-wanita2{
    background: url(assets/img/pattern-wanita-coba.png);
    position: relative;
    height: 400px;
    margin-top:-8px;
    background-size: contain;
    padding-top: 103px;
}
.produk-wanita{
    padding-right: 12.5%;
    position: relative;
    margin-top: -250px;
}
.produk-wanita img{
    height: 150px;
    width: 150px;
}
.produk-wanita h2{
    color:#fff;
    text-align: right
}
.pattern-wanita{
    margin-top:100px;
}
.text-wanita1, .text-wanita2{
    font-family: montserrat;
    font-size: 150px;
    font-weight: 999;
    text-align: left;
    margin-top : 0px;
}
.text-wanita2{
    padding-left: 0px;
    position: relative;
    color: #fff;
    margin-left:-20%;
}
.b-2{
    margin-top:0px;
}
.text-wanita-dalam1,.text-wanita-dalam2{
    font-family: montserrat;
    font-size: 100px;
    font-weight: 999;
    text-align: left;
    margin-left: -1%;
}
.text-wanita-dalam2{
    padding-left: 0px;
    margin-left: -15.75%;
}
.s5{
    background-color: #30c1ec;
    color: #fff; 
    font-size: 12px;
    margin-right: 10%;
}
.mr-auto{
    margin-right: auto !important;
    align-self: center;
}
/*------------ css for section 5------------*/
.container-anak{
margin-top: 200px;
padding-top: 100px;
overflow: hidden;

}
.gambar-anak{
height: 700px;
margin-left: 10%;
margin-right: 15%;
overflow: hidden;
margin-top: -300px;
background: url(assets/img/kids-img-bg.png);
position: relative;
padding-top: 100px;
}
.img-anak-model{
    height: 600px; 
    position: relative; 
    margin-top:-200px; 
}
.text-anak1,.text-anak2{
    font-family: montserrat;
    font-size: 150px;
    font-weight: 999;
    text-align: right;
    color: #4eebc3;
    padding-right: 5%;
}
.text-anak2{
    padding-right: 0px;
    margin-right: -13.25%;
    position: relative;
    color: red;
    margin-top: 12px;
}
.produk-anak{
    align-content: center;
    margin-top: -250px;
    padding-left: 13%;
    position: relative;

}
.produk-anak img{
height: 150px;
width: 150px;
}
.kelas-anak-luar{
    margin-top: 0px;
    padding-top: 50px
}
.kelas-anak-dalam{
    position: relative;
    margin-top: -170px;
    margin-left: 15%;
    margin-right: 20%;
    overflow: hidden;
    height: 400px;
    background:url(assets/img/rain.gif) no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    z-index:0.5;

  

}
.text-anak-dalam1,.text-anak-dalam2{
    font-family: montserrat;
    font-size: 100px;
    font-weight: 999;
    text-align: right;
    color: #4eebc3;
    padding-right: 10%;
    margin-left:-10%;
    margin-right: 45px;
}
.text-anak-dalam2{
    color:white;
    padding-right: 0px;
    margin-top: 42px;
    margin-right: -10%;
}
/* css for section 6*/
.container-tentang{
   
    padding-top: 100px
    }
 #bg-tentang {

    margin-top: 200px;
    padding-left: 0px !important;
     padding-right: 0px !important;
      
    }
.bg-biru {
    height: auto;
    padding :50px;
    background: url(assets/img/bg-alamat.png);
    position: relative;
}
.bg-biru p {
    color: white;
    font-size: 20px;
}
.bg-biru h1{
    color: white; 
    font-size: 5rem;
    font-weight: 700;
}
.bg-biru ul{
    padding: 0px;
}
.bg-biru ul li  {
    color: white;
    display: inline-block;
    font-size: 2rem;
    margin-right: 30px;
}
.bg-biru a{
    color: white;
}

.rotate{
  width: 150px;
  height: 80px;

  font-size: 100px;
  font-weight: 999;
  margin-top: 450px;
}

.text-tentang{
    transform: rotate(-90deg);
    font-size: 100px;
    font-weight: 999;
    margin-top: 50px;
    color: #074970;
}
.bg-tentang{
background: url(assets/img/office-img.png) no-repeat;
background-size: cover;
margin-left: 15%;
margin-right: 10%;
margin-top: -400px;
margin-bottom: 50px;
padding-bottom: 5%;
padding-top: 5%;
padding-right: 10%;
padding-left: 25%;

}

 /* end section 6*/ 
 /* section footer 6*/
 .container-footer{

 }
 .container-footer h2{
text-align: center;
color:#fff;
}
/* halaman kontak */
.container-kontak{
    padding-top:100px;
    text-align: center;
}
.container-kontak h1{

    padding-bottom:50px;
}
/* contact 7 form versi 1
.wpcf7-form{
    margin-right:5%;
    margin-bottom:5%;
    text-align: center;
}
.wpcf7 input{
    width: 80%;
    margin-top:15px;
    padding:2%;
    border:none;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    z-index:1;
    text-align: center;
}
.wpcf7 textarea{
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    z-index:1;
    width: 80%;
    text-align: center;
    border:none;
}
*/



/* form contact plug in wordpress  */
#idNama , #idEmail ,#idNotelp{
    border-radius: 0;
    border: none;
    padding: 15px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    max-width: 210px;
}
.wpcf7 textarea{
    border-radius: 0;
    border: none;
    padding: 30px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: center;
  
}
#idSubmit{
    width: 100%;
    background-color: darkgrey;
    flex: 1 1 auto;
    margin: 10px;
    padding-top: 20px;
    border: none;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    transition: 0.5s;
    font-weight: 1000;
    cursor: pointer;
    background-size: 200% auto;
    color: #000000;
    box-shadow: 8px 6px 12px 2px rgba(136, 157, 183, 0.71);

}
.map-container{
    padding-bottom:100px;
    padding-top: 125px; 
}
/* halaman blog*/
.container-blog{
    padding-top: 200px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #fb1daa;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e21296;
}

::-moz-selection {
    background: #fb1daa;
    color: #fff;
}

::selection {
    background: #fb1daa;
    color: #fff;
}

textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: #fff;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fb1daa;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #6551a2;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fb1daa;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#rev_slider_11_1_wrapper .tp-loader.spinner3 {
    background-color: #FFFFFF !important;
}

#rev_slider_11_1 .uranus.tparrows {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0)
}

#rev_slider_11_1 .uranus.tparrows:before {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s
}

#rev_slider_11_1 .uranus.tparrows:hover:before {
    opacity: 0.9
}

.tp-bullets.moody .tp-bullet {
    width: 16px;
    height: 16px;
    background: none
}

.tp-bullets.moody .tp-bullet:before {
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    content: ' ';
    display: block;
    background: #eee;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.tp-bullets.moody .tp-bullet:hover:before,
.tp-bullets.moody .tp-bullet.selected:before {
    width: 100%;
    height: 100%
}

.secondary-font {
    font-family: 'Playfair Display', serif;
}

.navbar {
    padding: 10px;
    font-size: 14px;
    transition: all 0.5s ease;
}

.bg-transparent {
    background: transparent !important;
    transition: background-color 0.5s ease 0.5s;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
}

.bg-green{
    background-color: #fff !important;
    transition: background-color 0.5s ease 0.5s;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
}
.bg-white {
    background: #fff !important;
    transition: background-color 0.5s ease 0.5s;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    padding-left: 15%;
    
}

.navbar-collapse { 
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

.navbar-nav > li {
    padding-left: 15px;
    padding-right: 15px;

   
}

.nav-link {
    font-weight: 600 !important;
    text-transform: uppercase;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3.5px;
    top: 40px;
    background: #fff;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.nav-link-std {
    color: #3d3d50 !important;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-link-std:hover {
    text-decoration: none;
}

.nav-link-std::after {
    content: '';
    display: block;
    width: 0;
    height: 3.5px;
    top: 40px;
    background: #3d3d50;
    transition: width .3s;
}

.nav-link-std:hover::after {
    width: 100%;
    transition: width .3s;
}

.nav-link,
.navbar-brand {
    color:rgb(27, 25, 161) !important;
}


.transparent-nav.scrolled .nav-link {
    color: #fff !important;
}
.career-main-container {
    margin-top: 150px;
    padding-top: 80px;
}
.career-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    margin-bottom: 60px;
    font-size: 2.4em;
}
.career-div-title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.row-career {
    margin-bottom: 170px;
}

.card-header {
    background: #fff;
    border: none;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.row-career {
    margin-top: 8%;
}

.col-career-text {
    padding-top: 10%;
}

.i-pull-right-c {
    position: relative;
    right: -6.2%;
}

.career-header-text {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 5em;
}

.career-header-alt {
    color: #969696;
    margin-top: 50px;
    margin-bottom: 80px;
    line-height: 32px;
}
/* Fixes dropdown menus placed on the right side */

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.service-container {
    margin-top: 150px;
    padding-top: 80px;
    text-align: center;
}

.section-header {
    margin-bottom: 80px;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;    
}

.has-border-top {
    padding-top: 5px;
    position: relative;
}

.has-border-top:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    left: 0;
}

.has-bg-color {
    background-color: #4ac1bf;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    color: #fff;
    margin-left: 2px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
}

.section-title-alias {
    padding-top: 25px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.img-service {
    border-radius: 100%;
}

.service-item {
    padding: 50px;
    transition: all 0.5s ease;
    border-radius: 10px;
}

.service-item:hover {
    box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.3);
    transform: translateY(-20px);
}

.service-item img,
.service-item h5 {
    transition: all 0.5s ease;
}

.service-item:hover img {
    transform: scale(1.65);
}

.service-item:hover h5 {
    background: linear-gradient(to right, #4f87db, #8d39d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service-item-title {
    padding-top: 80px;
    padding-bottom: 25px;
    font-size: 1em;
}

.service-item::after {
    content: '';
    display: block;
    width: 0;
    height: 3.5px;
    left: 0;
    border-radius: 6px;
    background-image: linear-gradient(to right, #4f87db, #8d39d8);
    transition: width .3s;
}

.service-item:hover::after {
    width: 100%;
    transition: width .3s;
}
.section-title .has-bg-color,
.team-name .has-bg-color {
    padding: 10px;
}
.container-portfolio {
    margin-top: 150px;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    background: #f7f7f7;
}

.portfolioFilter {
    padding: 15px 0;
    margin-bottom: 30px;
}

.portfolioFilter a {
    margin-right: 6px;
    color: #666;
    text-decoration: none;
    padding: 8px 19px;
    display: inline-block;
    transition: all 0.5s ease;
   
}

.portfolioFilter a:hover {
    background-image: linear-gradient(to right, #4eebc3);
    color: #fff;
    background-color: #4ac1bf;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.3);
}

.portfolioFilter a.current {
    background-image: linear-gradient(to right, #4eebc3);
    color: #fff;
    background-color: #4ac1bf;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.3);
}

.portfolioContainer {
    padding: 40px;
}

.img-portfolio {
    margin: 0px;
    max-width: 100%;
    height: 270px;
    width: 250px;
    transition: all 0.5s ease;
}

.img-portfolio:hover {
    transform: translateY(-20px);
    box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.3);
}

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.row-team {
    margin-top: -20px;
}

.team-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 40px;
    padding-bottom: 25px;
}

.team-job {
    color: #a5a5a5;
    text-transform: uppercase;
    padding-bottom: 7px;
}

.team-container {
    margin-top: 220px;
    text-align: center;
}


.team-social-container {
    margin: 0 auto;
    width: 200px;
    height: auto;
}

.team-social {
    list-style: none;
}

.team-social li {
    float: left;
}

.team-social li a {
    padding: 10px;
    color: #a5a5a5;
    font-size: 1.2em;
    transition: all 0.5s ease;
}

.team-social li a:hover {
    text-decoration: none;
    background: linear-gradient(to right, #4f87db, #8d39d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.work-container {
    margin-top: 220px;
    padding-top: 70px;
    background: #eceff1;
}

.title-work {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 5em;
    margin-top: 30%;
}

.alias-work {
    padding-top: 30px;
    line-height: 32px;
}

.button {
    flex: 1 1 auto;
    margin: 10px;
    padding-top: 20px;
    border: none;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    background-size: 200% auto;
    color: #fff;
    /*box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);*/
}

.button:hover {
    color: #fff;
    text-decoration: none;
    background-position: right center;
}

.btn-gradient {
    background-image: linear-gradient(to right, #4f87db 0%, #8d39d8 51%, #4f87db 100%);
    box-shadow: 0px 6px 16px rgba(79, 135, 219, 0.3);
}

.btn-gradient-2 {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 100%);
    color: #fff;
    box-shadow: 0px 6px 16px rgba(79, 135, 219, 0.3);
    border: none;
    border-radius: 0;
}

.blog-container {
    margin-top: 150px;
    padding-top: 80px;
    padding-bottom: 150px;
    text-align: center;
    background: #f5f5f5;
    height: auto;
    background-size: cover;
}

.header-has-bg {
    background: url(assets/img/title-bg.png) no-repeat center center;
    background-size: cover;
}

/* entire container, keeps perspective */

.card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px;
}

/* flip the pane when hovered */

.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}


.card-container.static:hover .card,
.card-container.static.hover .card {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}

/* flip speed goes here */

.card {
    -webkit-transition: -webkit-transform .8s;
    -moz-transition: -moz-transform .8s;
    -o-transition: -o-transform .8s;
    transition: transform .8s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    border: none;
}

/* hide back of pane during swap */

.front,
.back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
}

/* front pane, placed above back */

.front {
    z-index: 2;
}

/* back, initially hidden pane */

.back {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
    z-index: 3;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
}

/*        Style       */

.card {
    background: #fff;
    border-radius: 4px;
    text-align: left;
}

.card-container,
.front,
.back {
    width: 100%;
    height: 350px;
    border-radius: 4px;
}

.blog-cat-l {
    list-style: none;
    margin-left: -40px;
}

.blog-cat-l li {
    float: left;
}

.blog-cat-l li a {
    font-weight: 700;
    color: #8d39d8;
}

.blog-cat-l li::after {
    content: ',';
    color: #8d39d8;
    font-weight: 700;
    padding-right: 6px;
}

.blog-cat-l li:last-child::after {
    content: '';
}

.blog-cat-l-flipped {
    list-style: none;
    margin-left: -40px;
}

.blog-cat-l-flipped li {
    float: left;
}

.blog-cat-l-flipped li a {
    font-weight: 400;
    color: #fff;
}

.blog-cat-l-flipped li::after {
    content: ',';
    padding-right: 6px;
}

.blog-cat-l-flipped li:last-child::after {
    content: '';
}

.front-title {
    font-weight: 700;
}

.link-flipped {
    color: #fff;
    font-weight: 700;
}

.link-flipped:hover {
    color: #fff;
    text-decoration: none;
}

.text-blog-l {
    position: relative;
    top: 45px;
}

.text-blog-l,
.text-blog-l-flipped {
    font-size: 13px;
}

.text-blog-l-flipped {
    font-weight: 400;
}

.card .content {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}

.card .content .main {
    min-height: 160px;
}

.card .back .content .main {
    height: 215px;
}

.card .footer {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    margin: 30px 0 0;
    padding: 10px 0 0;
    text-align: left;
}

.card .header {
    padding: 15px 20px;
    height: 90px;
}

.img-overlay {
    position: relative;
    max-width: 500px;
}

.img-fit {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(79, 135, 219, 0.8), rgba(139, 57, 247, 0.8));
    color: #fff;
}

.subscribe-container {
    margin-top: 220px;

}

.subs-has-bg {
    background: url(../img/rocket.svg) no-repeat right;
    background-size: contain;
    height: 400px;
}

.subs-alias {
    line-height: 29px;
    padding-top: 16px;
}

.form-subscribe {
    border: none;
    border-bottom: 2px solid rgba(218, 34, 225, 1);
    border-radius: 0;
}

.form-gradient {
    border: none;
    border-radius: 0;
    background: linear-gradient( to left,
    rgba(218, 34, 225, 1) 0%,
    rgba(151, 51, 238, 1) 12%,
    rgba(218, 34, 238, 1) 100%) left bottom no-repeat;
    background-size: 100% 3px;
    height: 50px;
}

.container-form-contact {
    margin-top: 80px;
}

.t-email {
    color: #3d3d50;
}

.t-email:hover {
    color: #3d3d50;
    text-decoration: none;
}

.contact-container {
    text-align: center;
    background: url(../img/contact.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 60px;
    padding-bottom: 60px;
    height: auto;
}

.form-transparent > .form-control {
    border-radius: 0;
    border: none;
    padding: 30px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.form-input {
    padding: 30px;
}

footer {
    padding:15px;
    height: auto;
    background-color: #306dddf5;
}

.footer-text-alias {
    margin-left: 15px;
    color: #999999;
    padding-bottom: 15px;
}

.footer-title-sm {
    color: #999999;
    font-weight: 700;
    padding-bottom: 35px;
}

.footer-menu {
    list-style: none;
    margin-left: -38px;
}

.footer-menu li {
    padding-bottom: 20px;
}

.footer-menu li a {
    color: #999999;
    font-size: 16px;
    transition: all 0.3s ease;
}

.footer-menu li a:hover {
    color: #8d39d8;
    text-decoration: none;
}

.form-subscribe-footer {
    border: none;
    border-radius: 0;
}

.social-list-footer ul {
    list-style: none;
    margin-left: -40px;
    margin-top: 40px;
}

.social-list-footer ul li {
    display: block;
    float: left;
    width: 50%;
    list-style-type: none;
    margin: 0 0 15px;
}

.social-list-footer ul li a {
    color: #999999;
    transition: all 0.3s ease;
}

.social-list-footer ul li a:hover {
    color: #8d39d8;
    text-decoration: none;
}

.social-list-footer ul li a i {
    padding-right: 8px;
}

.bottom-bar {
    display: block;
    content: '';
    height: 10px;
    width: 100%;
    background-image: linear-gradient(to right, #4f87db, #8d39d8) !important;
}

.blog-header-breadcrumb {
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.row-breadcrumb {
    margin-bottom: -30px;
}

.blog-breadcrumb {
    list-style: none;
}

.blog-breadcrumb li {
    float: left;
    color: #333;
}

.blog-breadcrumb li::after {
    content: '/';
    color: #333;
    padding-left: 1px;
    padding-right: 8px;
}

.blog-breadcrumb li:last-child::after {
    content: '';
}

.blog-breadcrumb li a {
    color: #333;
    transition: all 0.3s ease;
}

.blog-breadcrumb li a:hover {
    color: #8d39d8;
    text-decoration: none;
}

.article-section {
    margin-top: 80px;
    margin-bottom: 120px;
}

.article-title {
    text-align: center;
}

.article-info {
    text-align: center;
    padding-top: 10px;
}

.article-info span {
    color: #aaa;
}

.article-cat-l {
    color: #8d39d8;
}

.article-cat-l:hover {
    color: #4f87db;
    text-decoration: none;
}

.article-cat-l::after {
    content: ',';
    color: #8d39d8;
    padding-right: 1px;
}

.article-cat-l:last-child::after {
    content: '';
}

.article-main {
    margin-top: 50px;
}

.img-article-main {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 16px;
}

.article-text {
    line-height: 32px;
    margin-top: 30px;
}

.article-footer {
    margin-top: 50px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 70px;
}

.article-items {
    margin-top: 20px;
}

.article-item {
    margin-top: 25px;
}

.row-tags {
    margin-bottom: 60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 70px;
}

.comment-section {
    margin-top: 70px;
}

.form-comment-container {
    margin-top: 50px;
}

.form-comment {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: none;
}

.article-sidebar {
    border: 1px solid #eee;
    padding: 45px;
    padding-top: 65px;
}

.form-search-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    /*
    background: linear-gradient( to left,
    rgba(218, 34, 225, 1) 0%,
    rgba(151, 51, 238, 1) 12%,
    rgba(218, 34, 238, 1) 100%) left bottom no-repeat;
    background-size: 100% 2px;
*/
}

.btn-search {
    border-bottom: 1px solid #ddd;
    transition: all 0.5s ease;
}

.btn-search:hover,
.btn-search:focus {
    background: linear-gradient(to right, #4f87db, #8d39d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar-latest,
.sidebar-tags {
    margin-top: 60px;
}

.img-small-latest {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.latest-blog-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-top: 30px;
}

.latest-link {
    color: #3d3d50;
}

.latest-link:hover {
    text-decoration: none;
    color: #8d39d8;
}

.sidebar-tags h4 {
    padding-bottom: 15px;
}

.tags-item {
    color: #999;
    line-height: 32px;
}

.tags-item::after {
    content: ',';
    padding-right: 1px;
}

.tags-item:last-child::after {
    content: '';
}

.tags-item:hover {
    text-decoration: none;
    color: #8d39d8;
}

/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .front,
    .back {
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92, .01, .83, .67);
    }
    .front {
        z-index: 4;
    }
    .card-container:not(.manual-flip):hover .back,
    .card-container.manual-flip.hover .back {
        z-index: 5;
        visibility: visible;
    }
}

/* RWD BREAKPOINTS */

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {

    }    


/* Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {
/* Responsive section 1*/
#hilang{
   display: none;
}  
.spanBtn{
    padding-left: 0px;
}

/* Responsive section 2*/

#bg-abu{
    width: auto;
}
#merah{
    margin-left: 5%;
    margin-right: 50%;
    height: auto;
}
.menu-kategori{
    margin-top: -90px;
    padding-left: 6%;
}
.menu-kategori ul li{
    margin-right: 20px;
}
/* Responsive section 3*/
.produk{
    margin-top: 0px;

}

.gambar-pria {
    padding-left: 0px;
    padding-right: 20%;
    width: auto;
}
.text-pria2{
    margin-right: 10%;   
}
.kelas-pria{
    padding-top: 120px;
}
.kelas-pria-luar{
    margin-left: 5%;
}
/* Responsive section 4*/
.container-wanita-luar{
    margin-right: 0%;
    margin-left: 20%;
}
.text-wanita2{
    margin-left: -25%;

}
.bg-wanita{
    height: auto;
}
.img-wanita-model{
    height: 600px;
}
.produk-wanita{
    margin-top: -100px;
}
.produk-wanita h2{
color: black;

}
.container-wanita-dalam{
margin-right: 5%;
}
.text-wanita-dalam1{
    padding-left: 2.5%;
}
/* Responsive section 5*/
.gambar-anak{
margin-left: 0px;
height: auto;
}
.img-anak-model{
    height: 500px;
}
.text-anak1{
    padding-right: 0%;
}
.text-anak2{
    margin-right: -17.5%;
}
.produk-anak{
    margin-top: 0px;
}
.kelas-anak-dalam{
    margin-left: 5%;
}
.text-anak-dalam1{
    padding-right: 0px;
}
.text-anak-dalam2{
    margin-right:-17.5%;
}
/* Responsive section 6*/


.bg-tentang{
margin-left:0px;
margin-right: 0px;
}
.rotate{
    margin-left: -10%;
    color: white;
}


/* End Responsive section 6*/




.green-nav.scrolled>.navbar-collapse  {
    background: #4ac1bf;
    width: 100%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    color: #fff !important;
}
    .transparent-nav.scrolled>.navbar-collapse  {
        background: #fff;
        width: 100%;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
        color: #000 !important;
    }

    .team-name {
        line-height: 60px;
        word-break: keep-all;
    }

    .title-work {
        font-size: 2.5em;
        margin-top: -30px;
    }

    .alias-work {
        line-height: 28px;
        margin-top: -20px;
    }

    .contact-text-alias {
        font-size: 1.2em;
    }

    .transparent-nav.scrolled {
        background-image: linear-gradient(to right, #4f87db, #8d39d8) !important;
        transition: background-color 0.5s ease 0.5s;
    }

    .transparent-nav.scrolled .nav-link {
        color: #000 !important;
        background: #fff;
    }
    
    .portfolioContainer {
        margin-left: 50px;
    }
    
    .img-portfolio {
        margin: 25px;
    }
}
.container-img {
    padding: 1em 0;
    float: left;
    width: 50%;
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 900px) {
    .container-img {
        width: 33.33333%;
    }
}

.container-img .title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 80%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 80%;
    left: 50%;
    opacity: 1;
}

.content-details h4 {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
}

.content-details ul {
    list-style: none;
    display: inline-block;
    margin-left: -45px;
}

.content-details ul li {
    float: left;
    padding: 10px;
}

.content-details ul li a {
    font-size: 1.2em;
    color: #fff;
}

.fadeIn-bottom {
    top: 80%;
}

.fadeIn-top {
    top: 20%;
}

.fadeIn-left {
    left: 20%;
}

.fadeIn-right {
    left: 80%;
}

.main-blog-item {
    background: #fff;  
    margin-bottom: 20px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.top-sec-thumb img {
}

.main-sec-thumb h4 {
    color: #1374e2;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 1000;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
}

.img-blog-thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.main-sec-thumb {
    text-align: left;
    padding: 10px;
}

.main-sec-thumb h6 a {
    color:#000;
    font-weight: 600;
}

.main-sec-thumb small {
    color: #b3b2b3;
    font-weight: 600;
    letter-spacing: 1px;
}


.main-sec-thumb p {
    line-height: 26px;
    color: #787878;
}

/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .front,
    .back {
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92, .01, .83, .67);
    }
    .front {
        z-index: 4;
    }
    .card-container:not(.manual-flip):hover .back,
    .card-container.manual-flip.hover .back {
        z-index: 5;
        visibility: visible;
    }
}

/* RWD BREAKPOINTS */

/*Small devices (landscape phones, 576px and up)*/

@media (max-width: 480px) {
    .team-alt-header {
        font-size: 3.5em;
    }
    
    .i-pull-right {
        margin-top: 30px;
    }
    
    .main-blog-item {
        margin-bottom: 30px;
    }

/** section 1 **/

.spanbg{
    font-size: 24px;
}
ul.kiri, ul.kanan{
    padding-left: 3%;
}
.kanan{
    margin-left: -25px;
}
.spanBtn{
    margin-top:-200px;
}
/** section 2 **/
.img-model{
margin-left: 40%;
}
/** section 3 **/
.text-pria,.text-pria2{
    font-size: 72px;
}
.img-pria{
    margin-top:94px;
    height: 400px;
}
.img-pria-model{
    height: 400px;
    margin-top: -100px;
}
.produk img{
    height: auto;
}
.ptext-bawah1,.ptext-bawah2{
    font-size: 48px;
}
.kelas-pria-luar{
    margin-top: -225px;
}
.kelas-pria-dalam{
    margin-top: -240px;
}
.bg-img-pria{
    height: 300px;
}
/** section 4 **/
.container-wanita{
    margin-top: 80px;
    padding-top: 150px;
}
.container-wanita-luar{
    margin-top: -155px;
    height: 500px;
}
.bg-wanita{
    padding-top: 62.5px;
}
.text-wanita1,.text-wanita2{
    font-size: 72px;
}
.img-wanita-model{
    height: 300px;
    margin-top: -150px;
}
.produk-wanita{
    margin-top:-185px;
}
.produk-wanita img{
    height: auto;
}
.container-wanita-dalam{
    margin-top: -225px;
}
.text-wanita-dalam1,.text-wanita-dalam2{
    font-size: 48px;
}
.bg-wanita2{
height: 300px;
}
/** section 5 **/
.container-anak{
    margin-top: 0px;
    padding-top: 0px;
}

.text-anak1,.text-anak2{
    font-size: 72px;
}
.gambar-anak{
    margin-top: -157px;
    padding-top: 50px
}
.img-anak-model{
    height: 300px;
    margin-top: -100px;
}
.produk-anak img{
    height: auto;
}
.text-anak-dalam1,.text-anak-dalam2{
    font-size: 48px;
}
.kelas-anak-dalam{
    height: 300px;
    margin-top: -107px;
} 
.text-anak-dalam1{
    margin-right: 7%;
}
/** section 6 **/
.bg-biru h1{
    font-size: 3rem;
}
.bg-biru ul li {
    margin-right: 10px;
}
.rotate{
    margin-left: -17%;
}
.container-tentang{
    padding-top:0px;
}
/** end section 6 **/













}


@media (max-width: 1100px) {




/*section 6*/

#biru {
    margin-right: 100px;
}

}


@media (min-width: 1200px) {}

/*
278bfb

blue, yellow, black, white

*/
