body {
    overflow-x: hidden;
    font-family: 'PT Sans', sans-serif;
    color: #3d3d50;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #fb1daa;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e21296;
}

::-moz-selection {
    background: #fb1daa;
    color: #fff;
}

::selection {
    background: #fb1daa;
    color: #fff;
}

textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: #fff;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fb1daa;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #6551a2;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fb1daa;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#rev_slider_11_1_wrapper .tp-loader.spinner3 {
    background-color: #FFFFFF !important;
}

#rev_slider_11_1 .uranus.tparrows {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0)
}

#rev_slider_11_1 .uranus.tparrows:before {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s
}

#rev_slider_11_1 .uranus.tparrows:hover:before {
    opacity: 0.75
}

.tp-bullets.moody .tp-bullet {
    width: 16px;
    height: 16px;
    background: none
}

.tp-bullets.moody .tp-bullet:before {
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    content: ' ';
    display: block;
    background: #eee;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.tp-bullets.moody .tp-bullet:hover:before,
.tp-bullets.moody .tp-bullet.selected:before {
    width: 100%;
    height: 100%
}

.secondary-font {
    font-family: 'Playfair Display', serif;
}

.navbar {
    height: 90px;
    font-size: 14px;
    transition: all 0.5s ease;
}

.bg-transparent {
    background: transparent !important;
}

.bg-white {
    background: #fff !important;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    padding-left: 15%;
}

.navbar-collapse {
    padding-right: 15%;
}

.navbar-nav > li {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-link {
    font-weight: 600 !important;
    text-transform: uppercase;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3.5px;
    top: 40px;
    background: #fff;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.nav-link-std {
    color: #3d3d50 !important;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-link-std:hover {
    text-decoration: none;
}

.nav-link-std::after {
    content: '';
    display: block;
    width: 0;
    height: 3.5px;
    top: 40px;
    background: #3d3d50;
    transition: width .3s;
}

.nav-link-std:hover::after {
    width: 100%;
    transition: width .3s;
}

.nav-link,
.navbar-brand {
    color: #fff !important;
}

.transparent-nav.scrolled {
    background-image: linear-gradient(to right, #4f87db, #8d39d8) !important;
    transition: background-color 0.5s ease 0.5s;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
}

.transparent-nav.scrolled {
    background-color: #fff;
    transition: background-color 0.5s ease 0.5s;
}

.transparent-nav.scrolled .nav-link {
    color: #fff !important;
}

/* Fixes dropdown menus placed on the right side */

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.service-container {
    margin-top: 150px;
    padding-top: 80px;
    text-align: center;
}

.section-header {
    margin-bottom: 80px;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.has-border-top {
    padding-top: 5px;
    position: relative;
}

.has-border-top:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #4f87db, #8d39d8);
    top: -5px;
    left: 0;
}

.has-bg-color {
    background-image: linear-gradient(to right, #4f87db, #8d39d8);
    padding: 10px;
    color: #fff;
    margin-left: 10px;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.2);
}

.section-title-alias {
    padding-top: 25px;
    width: 40%;
    margin: 0 auto;
}

.img-service {
    border-radius: 100%;
}

.service-item {
    padding: 50px;
    transition: all 0.5s ease;
    border-radius: 10px;
}

.service-item:hover {
    box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.3);
    transform: translateY(-20px);
}

.service-item img,
.service-item h5 {
    transition: all 0.5s ease;
}

.service-item:hover img {
    transform: scale(1.65);
}

.service-item:hover h5 {
    background: linear-gradient(to right, #4f87db, #8d39d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service-item-title {
    padding-top: 80px;
    padding-bottom: 25px;
    font-size: 1em;
}

.service-item::after {
    content: '';
    display: block;
    width: 0;
    height: 3.5px;
    left: 0;
    border-radius: 6px;
    background-image: linear-gradient(to right, #4f87db, #8d39d8);
    transition: width .3s;
}

.service-item:hover::after {
    width: 100%;
    transition: width .3s;
}

.container-portfolio {
    margin-top: 150px;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    background: #f7f7f7;
}

.portfolioFilter {
    padding: 15px 0;
    margin-bottom: 30px;
}

.portfolioFilter a {
    margin-right: 6px;
    color: #666;
    text-decoration: none;
    padding: 8px 19px;
    display: inline-block;
    transition: all 0.5s ease;
}

.portfolioFilter a:hover {
    background-image: linear-gradient(to right, #4f87db, #8d39d8);
    color: #fff;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.3);
}

.portfolioFilter a.current {
    background-image: linear-gradient(to right, #4f87db, #8d39d8);
    color: #fff;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.3);
}

.portfolioContainer {
    padding: 40px;
}

.img-portfolio {
    margin: 5px;
    max-width: 100%;
    transition: all 0.5s ease;
}

.img-portfolio:hover {
    transform: translateY(-20px);
    box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.3);
}

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.row-team {
    margin-top: -20px;
}

.team-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 40px;
    padding-bottom: 25px;
}

.team-job {
    color: #a5a5a5;
    text-transform: uppercase;
    padding-bottom: 7px;
}

.team-container {
    margin-top: 220px;
    text-align: center;
}

.team-social-container {
    margin: 0 auto;
    width: 200px;
    height: auto;
}

.team-social {
    list-style: none;
}

.team-social li {
    float: left;
}

.team-social li a {
    padding: 10px;
    color: #a5a5a5;
    font-size: 1.2em;
    transition: all 0.5s ease;
}

.team-social li a:hover {
    text-decoration: none;
    background: linear-gradient(to right, #4f87db, #8d39d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.work-container {
    margin-top: 220px;
    padding-top: 70px;
    background: #eceff1;
}

.title-work {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 5em;
    margin-top: 30%;
}

.alias-work {
    padding-top: 30px;
    line-height: 32px;
}

.button {
    flex: 1 1 auto;
    margin: 10px;
    padding-top: 20px;
    border: none;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    background-size: 200% auto;
    color: #fff;
    /*box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);*/
}

.button:hover {
    color: #fff;
    text-decoration: none;
    background-position: right center;
}

.btn-gradient {
    background-image: linear-gradient(to right, #4f87db 0%, #8d39d8 51%, #4f87db 100%);
    box-shadow: 0px 6px 16px rgba(79, 135, 219, 0.3);
}

.btn-gradient-2 {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 100%);
    color: #fff;
    box-shadow: 0px 6px 16px rgba(79, 135, 219, 0.3);
    border: none;
    border-radius: 0;
}

.blog-container {
    margin-top: 150px;
    padding-top: 80px;
    padding-bottom: 150px;
    text-align: center;
    background: #f5f5f5;
    height: auto;
    background-size: cover;
}

.header-has-bg {
    background: url(../img/title-bg.png) no-repeat center center;
    background-size: cover;
}

/* entire container, keeps perspective */

.card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px;
    width: 320px;
}

/* flip the pane when hovered */

.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}


.card-container.static:hover .card,
.card-container.static.hover .card {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}

/* flip speed goes here */

.card {
    -webkit-transition: -webkit-transform .8s;
    -moz-transition: -moz-transform .8s;
    -o-transition: -o-transform .8s;
    transition: transform .8s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    border: none;
}

/* hide back of pane during swap */

.front,
.back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
}

/* front pane, placed above back */

.front {
    z-index: 2;
}

/* back, initially hidden pane */

.back {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
    z-index: 3;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
}

/*        Style       */

.card {
    background: #fff;
    border-radius: 4px;
    text-align: left;
}

.card-container,
.front,
.back {
    width: 100%;
    height: 350px;
    border-radius: 4px;
}

.blog-cat-l {
    list-style: none;
    margin-left: -40px;
}

.blog-cat-l li {
    float: left;
}

.blog-cat-l li a {
    font-weight: 700;
    color: #8d39d8;
}

.blog-cat-l li::after {
    content: ',';
    color: #8d39d8;
    font-weight: 700;
    padding-right: 6px;
}

.blog-cat-l li:last-child::after {
    content: '';
}

.blog-cat-l-flipped {
    list-style: none;
    margin-left: -40px;
}

.blog-cat-l-flipped li {
    float: left;
}

.blog-cat-l-flipped li a {
    font-weight: 400;
    color: #fff;
}

.blog-cat-l-flipped li::after {
    content: ',';
    padding-right: 6px;
}

.blog-cat-l-flipped li:last-child::after {
    content: '';
}

.front-title {
    font-weight: 700;
}

.link-flipped {
    color: #fff;
    font-weight: 700;
}

.link-flipped:hover {
    color: #fff;
    text-decoration: none;
}

.text-blog-l {
    position: relative;
    top: 45px;
}

.text-blog-l,
.text-blog-l-flipped {
    font-size: 13px;
}

.text-blog-l-flipped {
    font-weight: 400;
}

.card .content {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}

.card .content .main {
    min-height: 160px;
}

.card .back .content .main {
    height: 215px;
}

.card .footer {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    margin: 30px 0 0;
    padding: 10px 0 0;
    text-align: left;
}

.card .header {
    padding: 15px 20px;
    height: 90px;
}

.img-overlay {
    position: relative;
    max-width: 500px;
}

.img-fit {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(79, 135, 219, 0.8), rgba(139, 57, 247, 0.8));
    color: #fff;
}

.subscribe-container {
    margin-top: 220px;

}

.subs-has-bg {
    background: url(../img/rocket.svg) no-repeat right;
    background-size: contain;
    height: 400px;
}

.subs-alias {
    line-height: 29px;
    padding-top: 16px;
}

.form-subscribe {
    border: none;
    border-bottom: 2px solid rgba(218, 34, 225, 1);
    border-radius: 0;
}

.form-gradient {
    border: none;
    border-radius: 0;
    background: linear-gradient( to left,
    rgba(218, 34, 225, 1) 0%,
    rgba(151, 51, 238, 1) 12%,
    rgba(218, 34, 238, 1) 100%) left bottom no-repeat;
    background-size: 100% 3px;
    height: 50px;
}

.container-form-contact {
    margin-top: 80px;
}

.t-email {
    color: #3d3d50;
}

.t-email:hover {
    color: #3d3d50;
    text-decoration: none;
}

.contact-container {
    text-align: center;
    background: url(../img/contact.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 60px;
    padding-bottom: 60px;
    height: auto;
}

.form-transparent > .form-control {
    border-radius: 0;
    border: none;
    padding: 30px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.form-input {
    padding: 30px;
}

footer {
    padding: 60px;
    height: auto;
    background-color: #060514;
}

.footer-text-alias {
    margin-left: 15px;
    color: #999999;
    padding-bottom: 15px;
}

.footer-title-sm {
    color: #999999;
    font-weight: 700;
    padding-bottom: 35px;
}

.footer-menu {
    list-style: none;
    margin-left: -38px;
}

.footer-menu li {
    padding-bottom: 20px;
}

.footer-menu li a {
    color: #999999;
    font-size: 16px;
    transition: all 0.3s ease;
}

.footer-menu li a:hover {
    color: #8d39d8;
    text-decoration: none;
}

.form-subscribe-footer {
    border: none;
    border-radius: 0;
}

.social-list-footer ul {
    list-style: none;
    margin-left: -40px;
    margin-top: 40px;
}

.social-list-footer ul li {
    display: block;
    float: left;
    width: 50%;
    list-style-type: none;
    margin: 0 0 15px;
}

.social-list-footer ul li a {
    color: #999999;
    transition: all 0.3s ease;
}

.social-list-footer ul li a:hover {
    color: #8d39d8;
    text-decoration: none;
}

.social-list-footer ul li a i {
    padding-right: 8px;
}

.bottom-bar {
    display: block;
    content: '';
    height: 10px;
    width: 100%;
    background-image: linear-gradient(to right, #4f87db, #8d39d8) !important;
}

.blog-header-breadcrumb {
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.row-breadcrumb {
    margin-bottom: -30px;
}

.blog-breadcrumb {
    list-style: none;
}

.blog-breadcrumb li {
    float: left;
    color: #333;
}

.blog-breadcrumb li::after {
    content: '/';
    color: #333;
    padding-left: 1px;
    padding-right: 8px;
}

.blog-breadcrumb li:last-child::after {
    content: '';
}

.blog-breadcrumb li a {
    color: #333;
    transition: all 0.3s ease;
}

.blog-breadcrumb li a:hover {
    color: #8d39d8;
    text-decoration: none;
}

.article-section {
    margin-top: 80px;
    margin-bottom: 120px;
}

.article-title {
    text-align: center;
}

.article-info {
    text-align: center;
    padding-top: 10px;
}

.article-info span {
    color: #aaa;
}

.article-cat-l {
    color: #8d39d8;
}

.article-cat-l:hover {
    color: #4f87db;
    text-decoration: none;
}

.article-cat-l::after {
    content: ',';
    color: #8d39d8;
    padding-right: 1px;
}

.article-cat-l:last-child::after {
    content: '';
}

.article-main {
    margin-top: 50px;
}

.img-article-main {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 16px;
}

.article-text {
    line-height: 32px;
    margin-top: 30px;
}

.article-footer {
    margin-top: 50px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 70px;
}

.article-items {
    margin-top: 20px;
}

.article-item {
    margin-top: 25px;
}

.row-tags {
    margin-bottom: 60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 70px;
}

.comment-section {
    margin-top: 70px;
}

.form-comment-container {
    margin-top: 50px;
}

.form-comment {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: none;
}

.article-sidebar {
    border: 1px solid #eee;
    padding: 45px;
    padding-top: 65px;
}

.form-search-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    /*
    background: linear-gradient( to left,
    rgba(218, 34, 225, 1) 0%,
    rgba(151, 51, 238, 1) 12%,
    rgba(218, 34, 238, 1) 100%) left bottom no-repeat;
    background-size: 100% 2px;
*/
}

.btn-search {
    border-bottom: 1px solid #ddd;
    transition: all 0.5s ease;
}

.btn-search:hover,
.btn-search:focus {
    background: linear-gradient(to right, #4f87db, #8d39d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar-latest,
.sidebar-tags {
    margin-top: 60px;
}

.img-small-latest {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.latest-blog-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-top: 30px;
}

.latest-link {
    color: #3d3d50;
}

.latest-link:hover {
    text-decoration: none;
    color: #8d39d8;
}

.sidebar-tags h4 {
    padding-bottom: 15px;
}

.tags-item {
    color: #999;
    line-height: 32px;
}

.tags-item::after {
    content: ',';
    padding-right: 1px;
}

.tags-item:last-child::after {
    content: '';
}

.tags-item:hover {
    text-decoration: none;
    color: #8d39d8;
}

/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .front,
    .back {
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92, .01, .83, .67);
    }
    .front {
        z-index: 4;
    }
    .card-container:not(.manual-flip):hover .back,
    .card-container.manual-flip.hover .back {
        z-index: 5;
        visibility: visible;
    }
}

/* RWD BREAKPOINTS */

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {
    /*
    .navbar-collapse {
        background: #fff;
        width: 100%;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    }
*/
    .transparent-nav.scrolled>.navbar-collapse  {
        background: #fff;
        width: 100%;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
        color: #000 !important;
    }

    .team-name {
        line-height: 60px;
        word-break: keep-all;
    }

    .title-work {
        font-size: 2.5em;
        margin-top: -30px;
    }

    .alias-work {
        line-height: 28px;
        margin-top: -20px;
    }

    .contact-text-alias {
        font-size: 1.2em;
    }

    .transparent-nav.scrolled {
        background-image: linear-gradient(to right, #4f87db, #8d39d8) !important;
        transition: background-color 0.5s ease 0.5s;
    }

    .transparent-nav.scrolled .nav-link {
        color: #000 !important;
        background: #fff;
    }
    
    .portfolioContainer {
        margin-left: 50px;
    }
    
    .img-portfolio {
        margin: 25px;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

/*
278bfb

blue, yellow, black, white

*/
